.nav{
    position: fixed;
    bottom:0;
    width:100%;
    background-color:#f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top:solid 1px rgb(121, 121, 121,0.2);
}
.nav__list{
    display: flex;
    justify-content: space-between;
}

.nav__link{
    position: relative;
    color:#2e363e;
}

.nav__notification{
    position: absolute;
    left:15px;
    bottom:15px;
}

.nav__mark{
    display: block;
    position: absolute;
    left:28px;
    width:6px;
    height: 6px;
    background-color: tomato;
    border-radius: 20px;
}